<div class="insight-card">
  <div class="insight-card-image-wrapper">
    <a href="{{ include.post.url }}">
      <img src="{{ include.post.image | default: '/assets/images/blog/cards/coming.webp' }}" alt="{{ include.post.title | default: 'Placeholder Title' }}" class="insight-card-image">
    </a>
    <span class="insight-tag">{{ include.post.date | date: "%d %b %Y" }}</span>
  </div>
  <div class="insight-card-content">
    <a class="insight-card-title" href="{{ include.post.url }}">
      <h3>{{ include.post.title }}</h3>
    </a>
    <div class="insight-card-footer">
      <div class="insight-card-tags">
        {% if include.post.categories %}
          {% assign displayed_categories = include.post.categories | slice: 0, 2 %}
          {% for cat in displayed_categories %}
            <a class="insight-card-tag" href="/insights/?category={{ cat | slugify }}">{{ cat }}</a>
          {% endfor %}
        {% elsif include.post.category %}
          <a class="insight-card-tag" href="/insights/?category={{ include.post.category | slugify }}">{{ include.post.category }}</a>
        {% endif %}
      </div>
      {% if include.post.series and include.post.part %}
        <span class="insight-card-series">{{ include.post.series | upcase }} • P{{ include.post.part }}</span>
      {% endif %}
    </div>
  </div>
</div>