.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--standard-dark);
  color: var(--standard-light);

  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 1rem 2rem;
  border-radius: 10px;
  height: calc(80px - 2rem);

  // a div that contains an img tag with class logo
  
  a.logo {
    display: block;
    height: 100%;
    width: auto;
  }

  a img.logo {
    height: 100%; /* Fill the anchor's height */
    width: auto; /* Maintain aspect ratio */
    object-fit: contain;
  }

  .navbar .cta-button-alt {
    margin-left: auto;
  }
}

/* Center nav links */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;

  a {
    text-transform: uppercase;
    font-size: var(--h5-size);
    letter-spacing: var(--letter-spacing);
    padding: 2px 6px;
    font-weight: 800;
    color: inherit;
    text-decoration: none;
    border-radius: 5px;
    background: var(--standard-dark-alt);
    white-space: nowrap;
  }
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 900;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: var(--standard-light);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.2s ease;
}

/* Animate to X */
.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.overlay {
  display: none;
  &.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--standard-dark);
    opacity: 0.65;
    padding: 4rem 2rem 2rem;
    z-index: 800;
  }
}

.mobile-nav {
  box-sizing: border-box;
  overflow: scroll;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 280px; // Adjust width as needed
  height: 100vh;
  background-color: var(--standard-dark); // Adjust to match your design
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 801;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  
  &.active {
    display: flex;
    transform: translateX(0);
  }
  
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 30px 40px; // Top padding accounts for navbar height
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
      margin-bottom: 20px;
      
      a {
        font-size: 18px;
        text-decoration: none;
        color: var(--standard-light); // Adjust to match your design
        display: block;
        padding: 10px 0;
        
        &:hover,
        &.active {
          font-weight: bold;
          color: var(--standard-green-alt);
        }
      }
    }
  }
  
  .cta-button {
    margin-top: auto;
    margin-bottom: 3rem;
    text-align: center;
    padding: 12px 24px;
    display: block;
  }
}



