$widescreen: 1921px;
$laptop: 1600px;
$tablet-extra: 1279px;
$tablet: 991px;
$mobile-extra: 767px;
$mobile: 575px;

@media (max-width: $tablet-extra) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        /* Remove position: relative to allow sticky from header.scss to work */
    }

    .logo {
        z-index: 2;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .desktop-cta {
        display: none;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        background: var(--standard-dark);
        border: 1px solid var(--standard-blue);
        border-radius: 24px;

        flex-direction: column;
        align-items: center;
        gap: 0; // Remove gap

        padding: 2rem 0;
        display: none;
        margin: 0;

        &.active {
            display: flex;
        }

        li {
            position: relative;
            width: 100%;
            text-align: center;
        }

        li:not(:last-child)::after {
            content: "";
            display: block;
            height: 1px;
            width: 80%; // or 100% for full width
            margin: 0.75rem auto; // vertical spacing
            background: var(--standard-blue);
        }
    }
}

@media (max-width: $tablet) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-rows: repeat(2, 1fr); /* 2 rows */
    }
    .features-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .tag-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto, auto);
    }
    .insights-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(auto, auto);
    }
    .team-grid {
        flex-wrap: wrap;
    }
    .work-with-us-card {
        flex: 100%;
    }
    .person-card,
    .research-driven-card {
        flex: 45%;
    }
}
// * {
//   outline: 1px solid red !important;
// }
@media (max-width: $mobile-extra) {
    footer .container > * {
        grid-template-areas: 
            "info" 
            "form" 
            "logo";
        grid-column: 1fr;
        gap: 2rem 0; // Reduce or remove horizontal gap
        // padding: 2rem 1rem 3rem; // Reduce side padding
        box-sizing: border-box; // Ensure padding is included in width
    }
    footer .logo {
        // align to bottom left
        align-self: end;
        // center to div
        margin: auto;
        margin-top: 4rem;
        width: 50%
    }

    .card-grid {
        display: grid;
        grid-template-columns: 1fr;      /* 1 column */
        grid-template-rows: repeat(3, 1fr); /* 3 rows */
    }
    .who-grid,
    .focus-grid,
    .ahead-grid {
        grid-template-columns: 1fr;
    }
    .breadcrumb-tagline {
        display: none;
    }
    .work-with-us-card {
        grid-column: span 1;
    }
}