<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/svg+xml" href="/assets/logo.svg">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description | default: site.description }}">
<title>{{ page.title }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<script defer src="/assets/fontawesome/js/fontawesome.js"></script>
<script defer src="/assets/fontawesome/js/brands.js"></script>
<script defer src="/assets/fontawesome/js/solid.js"></script>
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap" rel="stylesheet" style="font-display: swap;">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap" rel="stylesheet" style="font-display: swap;">
</noscript>
{% if page.url contains 'blogging' %}
  {% assign stylesheet = 'post' %}
{% else %}
  {% assign stylesheet = page.url | remove: '/' | default: 'index' %}
{% endif %}
<link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
</head>
<body class="no-js">
    {% include loading-screen.html %}
    {% include warning.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</body>
</html>